<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
<<<<<<< HEAD:src/main/resources/templates/list-employees.html
    <title>Employee Directory</title>
=======
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Receive</title>
>>>>>>> b0cbb6b (Initial commit - IBM MQ send and receive messages through webpages.):src/main/resources/templates/list-messages.html
</head>

<body>

    <h3>Received Messages</h3>
    <hr>

    <table border="1">

        <thead>
            <tr>
                <th>Messages</th>
            </tr>
        </thead>

        <tbody>
        <!-- Loop over list of employees -->
            <tr th:each="message : ${messages}"> <!-- 'employees' is the Model attribute name that we added in EmployeeController. -->

                <td th:text="${message}" />

            </tr>
        </tbody>

    </table>

<<<<<<< HEAD:src/main/resources/templates/list-employees.html
=======
    <br>

    <a href="/receive"><button class="btn btn-info col-2">Refresh</button></a>
    <br>
    <br>
    <form th:action="@{/clear}">
    <button type="submit" class="btn btn-info col-2" >Clear</button>
    </form>

</div>
>>>>>>> b0cbb6b (Initial commit - IBM MQ send and receive messages through webpages.):src/main/resources/templates/list-messages.html
</body>

</html>